In [5]:
words = [
    'look', 'into', 'my' 'eyes', 'look', 'into', 'my', 'eyes',
    'the', 'eyes', 'not', 'around', 'the', 'eyes', 'not', 'around', 'the',
    'eyes', "don't", 'look', 'aroun', 'the', 'the', 'eyes', 'look', 'into',
    'my', 'eyes', "you're", 'under'
]
from collections import Counter
word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 6), ('the', 5), ('look', 4)]

In [7]:
word_counts['my']

2

In [8]:
morewords =  [
    'eyes', "don't", 'look', 'aroun', 'the', 'the', 'eyes', 'look', 'into',
    'my', 'eyes', "you're", 'under'
]

In [9]:
for word in morewords:
    word_counts[word] +=1

In [10]:
word_counts['eyes']

9

In [11]:
a = Counter(words)
b = Counter(morewords)

In [12]:
a

Counter({'look': 4,
         'into': 3,
         'myeyes': 1,
         'my': 2,
         'eyes': 6,
         'the': 5,
         'not': 2,
         'around': 2,
         "don't": 1,
         'aroun': 1,
         "you're": 1,
         'under': 1})

In [13]:
b

Counter({'eyes': 3,
         "don't": 1,
         'look': 2,
         'aroun': 1,
         'the': 2,
         'into': 1,
         'my': 1,
         "you're": 1,
         'under': 1})

In [14]:
c = a + b

In [15]:
c

Counter({'look': 6,
         'into': 4,
         'myeyes': 1,
         'my': 3,
         'eyes': 9,
         'the': 7,
         'not': 2,
         'around': 2,
         "don't": 2,
         'aroun': 2,
         "you're": 2,
         'under': 2})

In [16]:
d = a - b

In [17]:
d

Counter({'look': 2,
         'into': 2,
         'myeyes': 1,
         'my': 1,
         'eyes': 3,
         'the': 3,
         'not': 2,
         'around': 2})

In [18]:
rows = [
    {'fname':'Brian', 'lname': 'Jones', 'uid': 1003},
    {'fname':'David', 'lname': 'Beazley', 'uid': 1002},
    {'fname':'John', 'lname': 'Cleese', 'uid': 1001},
    {'fname':'Big', 'lname': 'Jones', 'uid': 1004},
    
]

In [19]:
from operator import itemgetter

rows_by_fname = sorted(rows, key = itemgetter('fname'))
woes_by_uid = sorted(rows, key = itemgetter('uid'))

In [20]:
print(rows_by_fname)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [21]:
print(woes_by_uid)

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [22]:
min(rows, key = itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [23]:
max(rows, key = itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [29]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
        
    def __repr__(self):
        return 'User({})'.format( self.user_id)

users = [User(23), User(3), User(99)]
users

[User(23), User(3), User(99)]

In [30]:
users

[User(23), User(3), User(99)]

In [31]:
sorted(users, key = lambda u: u.user_id)

[User(3), User(23), User(99)]

In [32]:
from operator import attrgetter
sorted(users, key = attrgetter('user_id'))

[User(3), User(23), User(99)]

In [33]:
addresses = [
    {'address': '5412 N CLARCK', 'date': '07/01/2012'},
    {'address': '5148 N CLARCK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARCK', 'date': '07/03/2012'},
    {'address': '5612 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '5412 N ADDISON', 'date': '07/02/2012'},
    {'address': '5412 N BROADWAY', 'date': '07/01/2012'},
    {'address': '5412 N GRANVILLE', 'date': '07/04/2012'},
    
]

In [42]:
from operator import itemgetter
from itertools import groupby

#sort by the desiredd field
addresses.sort(key = itemgetter('date'))

#terste in groups
for date, items in groupby(addresses, key = itemgetter('date')):
    print(date)
    for i in items:
        print('   ', i)

07/01/2012
    {'address': '5412 N CLARCK', 'date': '07/01/2012'}
    {'address': '5412 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
    {'address': '5800 E 58TH', 'date': '07/02/2012'}
    {'address': '5612 N RAVENSWOOD', 'date': '07/02/2012'}
    {'address': '5412 N ADDISON', 'date': '07/02/2012'}
07/03/2012
    {'address': '2122 N CLARCK', 'date': '07/03/2012'}
07/04/2012
    {'address': '5148 N CLARCK', 'date': '07/04/2012'}
    {'address': '5412 N GRANVILLE', 'date': '07/04/2012'}

In [45]:
mylist = [1,4,-5,10,-7,2,3,-1]
[n for n in mylist if n < 0]

[-5, -7, -1]

In [49]:
pos = [1,4,-5,10,-7,2,3,-1]
(n for n in pos if n < 0)

In [47]:
#using a generator for apetentially big list

In [50]:
genlist = list(pos)

In [51]:
genlist

[1, 4, -5, 10, -7, 2, 3, -1]

In [52]:
for x in pos:
    print(x)

1
4
-5
10
-7
2
3
-1

In [59]:
myvalues = ['1', '2','-3', '-', '4', 'N/A', '5']
def is_int(val):
    try:
        x = int(val)
        return True 
    except ValueError:
        return False
    
ivals = list(filter(is_int, myvalues))
print(ivals)

['1', '2', '-3', '4', '5']

In [61]:
newlist = [1, 4, -5, 10, -7, 2, 3, -1]
import math
[math.sqrt(n) for n in newlist if n > 0]
clip_neg = [n if n > 0 else 0 for n in newlist]

In [62]:
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

In [64]:
clip_pos = [n if n < 0 else 0 for n in newlist]

In [65]:
clip_pos

[0, 0, -5, 0, -7, 0, 0, -1]

In [67]:
#Extracting values of a Subset of a dictionary
prices = {
    'ACME' : 45.23,
    'AAPL': 612.78,
    'IBM' : 205.55,
    'HPQ' : 37.20,
    'FB' : 10.75
}

In [68]:
prices

{'ACME': 45.23, 'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2, 'FB': 10.75}

In [70]:
p1 = {key:value for key, value in prices.items() if value > 200}
#make a dictionalry of all prices over 200
tech_names = {'AAPL', 'IBM', 'HPQT', 'MSFT'}
#Make a dictionary of tech stocks
P2 = {key:value for key, value in prices.items() if key in tech_names}

In [71]:
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [73]:
P2

{'AAPL': 612.78, 'IBM': 205.55}

In [75]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber' , ['addr', 'joined'])
sub = Subscriber('jonesy@example.com' , '2012-10-19')

In [76]:
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [77]:
sub.addr

'jonesy@example.com'

In [78]:
sub.joined

'2012-10-19'

In [79]:
len(sub)

2

In [80]:
#Transforming and Rducing data at the same time
nums = [1, 2, 3,4, 5]
s = sum(x*x for x in nums)

In [81]:
s

55

In [1]:
#Determine if any >py files exist in a directory
import os
files = os.listdir('dirname')
if any(name.endswith('.py') for name in files):
    print('there be python!')
else:
    print('Sorry, no python!')

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'dirname'